
# Ignore bigger files until ready

assets

packages/static
#packages/static/instruments
!packages/static/instruments/
packages/static/instruments/*
!packages/static/instruments/metronome*

packages/static/scores
#!packages/static/scores/
#packages/static/scores/*
#!packages/static/scores/test


# Default ignore

build

node_modules
_*
*.log
*.lock
.hardlinks
